# Pandas

import pandas and numpy libraries python

In [124]:
import pandas as pd
import numpy as np

# Reading & saving CSV files from pandas

In [133]:
data=pd.read_csv("E:\\housing.csv") # reading data
data.to_csv("E:\\newdata.csv") # saving data

# splitting the data into two sets (train_data,test_data)

In [72]:
def split_train_test(data,test_ratio):
  shuffled_indices = np.random.permutation(len(data))
  test_set_size = int(len(data) * test_ratio)
  test_indices = shuffled_indices[:test_set_size]
  train_indices = shuffled_indices[test_set_size:]
  return data.iloc[train_indices], data.iloc[test_indices]
train_set,test_set=split_train_test(data,.2)

# some describing functions of dataframe

functions like 
info(): get a quick description of the data, in particular the
total number of rows, and each attributeâ€™s type and number of non-null values
head(5): get the first 5 rows in dataframe
tail(5): get the last 5 rows in dataframe
describe():method shows a summary of the
numerical attributes like count, mean, min, and max
value_counts(): get the containing counts of unique values.

In [94]:
information=data.info()
heat5=data.head(5)
tail5=data.tail(5)
describe=data.describe()
count=data['population'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null int64
total_rooms           20640 non-null int64
total_bedrooms        20433 non-null float64
population            20640 non-null int64
households            20640 non-null int64
median_income         20640 non-null float64
median_house_value    20640 non-null int64
ocean_proximity       20640 non-null object
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

# Dealing with the missing Data

In [82]:
data2=pd.read_csv("E:\\t.csv")
data.fillna(5) #replace null values with 5
data.dropna() #delete the row the contain the null value
data.drop(data.columns[data.apply(lambda col: col.isnull().sum() > 0)], axis=1) # drop columns with no. of NaN > 0
num_of_nulls=data["total_bedrooms"].isnull().sum() # to get the number of null cells in col

# Handling Text and Categorical Attributes

we will use pandas function (get_dummies) to make OneHotEncoder with drop_first to remove redundant columns

In [83]:
new_data= pd.get_dummies(data,drop_first=True)

In [97]:

ar=np.array([[-1, 2], [-0.5, 6], [0, 10], [1, 18]])
df = pd.DataFrame({'A':[4,2,3], 'B':[5,-0.5,6],'c':[6,0,10],'d':[2,1,18]})
df2 = df.apply(lambda x:(x.astype(float) - min(x))/(max(x)-min(x)), axis = 0)

# getting Correlations between coulmns

In [111]:
corr_matrix = data.corr()
print(corr_matrix['population'])
# the positive value means that strong positive correlation  for example, the median house value tends to 
#go up when the median income goes up

longitude             0.099773
latitude             -0.108785
housing_median_age   -0.296244
total_rooms           0.857126
total_bedrooms        0.877747
population            1.000000
households            0.907222
median_income         0.004834
median_house_value   -0.024650
Name: population, dtype: float64

# Other functions

In [98]:
print(df)

   A    B   c   d
0  4  5.0   6   2
1  2 -0.5   0   1
2  3  6.0  10  18

In [132]:
df.sort_values(by=['A','B'],ascending=True) # sorting by columns
#sum
t_sum=data.sum()
min_v=data.min() # min values for all columns
max_v=data.max() # max values for all columns
data1=data.replace([np.nan],100) # replace all null values with 100

# indexind & selecting data

Using :
loc() : label based
iloc(): integer based
ix()  :both label and integer based

In [126]:
loc=data.loc[0:15,['population']] # get the first 15 value of population columns
iloc=data.iloc[0:15,0:2] # get the first 15 values of first two cloumns
#ix=data.ix[0:15,'population']
get_slice=data[['population','households']] # get two columns form dataframe

# creat Series and Dataframe

In [147]:
series=pd.Series([1,2,3,4,5]) #comes with default keys
index=['a','b','c','d','f']
series.index=index # to change the series index
print(series.values)
Sum_S=series.sum()

[1 2 3 4 5]

In [158]:
df=pd.DataFrame({
    'a':[1, 2, 3],
    'b':[3 ,4 ,5]
})
print(df)
print(df.sum()) # sum of dataframe
print(df.T)  # df transpose

   a  b
0  1  3
1  2  4
2  3  5
a     6
b    12
dtype: int64
   0  1  2
a  1  2  3
b  3  4  5